<%- include("partials/header.ejs") %>

   <main class="site-content" id="content">
      <!-- HERO SECTION START -->
      <section class="hero-section d-flex align-items-center" id="intro">
         <div class="intro_text">
            <svg viewbox="0 0 1320 300">
               <text x="50%" y="50%" text-anchor="middle">HI</text>
            </svg>
         </div>
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <div class="hero-content-box">
                     <span class="hero-sub-title">I am Bawan Allah</span>
                     <h1 class="hero-title">Web Developer +<br>Sys Admin</h1>

                     <div class="hero-image-box d-md-none text-center">
                        <img
                           src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/profile-pic.png?alt=media&token=49ee0e63-fdd1-45de-ab78-9b4e57879de5"
                           alt="">
                     </div>

                     <p class="lead">
                        I create and manage web solutions and systems that enhance user experience and operational
                        efficiency.
                     </p>
                     <div class="button-box d-flex flex-wrap align-items-center">
                        <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/BAWAN-ALLAH-BILYAMINU-CV.pdf?alt=media&token=e52b507c-3966-42b1-a18e-e38e169aff83"
                           class="btn tj-btn-secondary" target="_blank">Download CV <i
                              class="flaticon-download"></i></a>
                        <ul class="ul-reset social-icons">
                           <li>
                              </i></a>
                              <a href="https://x.com/halal_kharbouch" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a>
                           </li>
                           <li>
                              <a href="https://www.instagram.com/halal_v2.3.10/" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a>
                           </li>
                           <li>
                              <a href="https://www.linkedin.com/in/bawanallah/" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                           </li>
                           <li>
                              <a href="https://github.com/halalkharbouch" target="_blank"><i
                                    class="fa-brands fa-github"></i></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 d-none d-md-block">
                  <div class="hero-image-box text-center">
                     <img
                        src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/profile-pic.png?alt=media&token=49ee0e63-fdd1-45de-ab78-9b4e57879de5"
                        alt="">
                  </div>
               </div>
            </div>
            <div class="funfact-area">
               <div class="row align-items-center justify-content-center">
                  <div class="col-6 col-lg-4">
                     <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="5">0</span></div>
                        <div class="text">Years of <br>Experience</div>
                     </div>
                  </div>
                  <div class="col-6 col-lg-4">
                     <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="30">0</span>+</div>
                        <div class="text">Project <br>Completed</div>
                     </div>
                  </div>
                  <div class="col-6 col-lg-4">
                     <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="100">0</span>+</div>
                        <div class="text">Happy <br>Clients</div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </section>
      <!-- HERO SECTION END -->

      <!-- SERVICES SECTION START -->
      <section class="services-section" id="services-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="section-header text-center">
                     <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Quality Services</h2>
                     <p class="wow fadeInUp" data-wow-delay=".4s">
                        I put your ideas and thus your wishes in the form of a unique web project that inspires you and
                        you customers.
                     </p>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <div class="services-widget position-relative">
                     <div class="service-item current d-flex flex-wrap align-items-center wow fadeInUp"
                        data-wow-delay=".5s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">01</span>
                           <h3 class="service-title">Web Development</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              I tackle complex web development challenges to build seamless, reliable solutions that
                              enhance user experience and connect people globally.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                        <button data-mfp-src="#service-wrapper-webDev" class="service-link modal-popup"></button>
                     </div>
                     <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".6s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">02</span>
                           <h3 class="service-title">Automation</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              I design and implement automated solutions to simplify complex processes and enhance
                              efficiency, driving consistent and scalable results across various systems.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                        <button data-mfp-src="#service-wrapper-automation" class="service-link modal-popup"></button>
                     </div>
                     <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".7s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">03</span>
                           <h3 class="service-title">IT Support</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              I resolve intricate IT issues to deliver dependable, user-centric solutions that ensure
                              smooth and efficient technology operations for diverse users.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                        <button data-mfp-src="#service-wrapper-itSupport" class="service-link modal-popup"></button>
                     </div>
                     <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".8s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">04</span>
                           <h3 class="service-title">3D Printing</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              I develop and refine 3D printing processes to create precise, innovative solutions,
                              transforming complex designs into tangible, high-quality products.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                        <button data-mfp-src="#service-wrapper-3DPrinting" class="service-link modal-popup"></button>
                     </div>
                     <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".8s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">05</span>
                           <h3 class="service-title">Graphics Design</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              I craft compelling visual designs that effectively communicate ideas and enhance brand
                              identity, blending creativity with strategic vision to captivate audiences.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                        <button data-mfp-src="#service-wrapper-graphicsDesign"
                           class="service-link modal-popup"></button>
                     </div>
                     <div class="active-bg wow fadeInUp" data-wow-delay=".5s"></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- SERVICES SECTION END -->

      <!-- start: Service Popup Web Development-->
      <div id="service-wrapper-webDev" class="popup_content_area zoom-anim-dialog mfp-hide" data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/web-dev.png?alt=media&token=6f5e1429-fecc-449a-9843-9bff04169b19"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">Web Development</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, We believe in creating digital experiences that not only look
                                 visually stunning but also function seamlessly. Our approach to web development is
                                 grounded in understanding the unique needs of our clients and delivering solutions that
                                 drive results. Here’s a glimpse into how I approach web development:
                              </p>

                              <p>
                                 Client-Centric Approach: Every project begins with a deep understanding of the client's
                                 business, target audience, and objectives. I engage in thorough consultations to ensure
                                 that I capture the essence of what the client wants to achieve.
                              </p>

                              <p>
                                 User Experience (UX) Focused: I prioritize user experience by designing intuitive and
                                 engaging interfaces. A website should be easy to navigate and provide a pleasant
                                 experience to keep users coming back.
                              </p>
                              <p>
                                 Responsive Design: With the increasing use of mobile devices, I ensure that all
                                 websites are fully responsive. This means that they look and function perfectly on
                                 desktops, tablets, and smartphones.
                              </p>
                              <p>
                                 Scalability and Performance: I develop websites that are not only functional at launch
                                 but can also grow with the business. Performance optimization is key to providing a
                                 fast and reliable user experience.
                              </p>
                              <p>
                                 Security: Security is a top priority. I implement best practices to protect websites
                                 from threats and ensure data integrity.
                              </p>
                              <p>
                                 Continuous Improvement: Web development doesn’t stop at launch. I offer ongoing support
                                 and improvements based on user feedback and evolving technologies.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Discovery and Planning</li>
                              <li>Design</li>
                              <li>Development</li>
                              <li>Testing</li>
                              <li>Deployment</li>
                              <li>Maintenance and Support</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal1">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal1" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal1" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal1" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- start: Service Popup  3D Printing-->
      <div id="service-wrapper-3DPrinting" class="popup_content_area zoom-anim-dialog mfp-hide" data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/3D-Printing.png?alt=media&token=2036ec5b-29be-4372-9d42-d206aa37ae0a"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">3D Printing</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, 3D printing is more than just a technological marvel—it's a
                                 gateway to transforming ideas into tangible realities. My approach to 3D printing is
                                 driven by a commitment to precision, innovation, and client satisfaction. Here’s how I
                                 approach 3D printing projects:
                              </p>

                              <p>
                                 Concept to Creation: I begin with a clear understanding of the client’s vision. From
                                 concept sketches to detailed designs, I work closely with clients to ensure their ideas
                                 are accurately represented in the final 3D model.
                              </p>

                              <p>
                                 Design Excellence: Utilizing state-of-the-art software and design principles, I create
                                 detailed 3D models that are optimized for printing. The design process focuses on
                                 functionality, durability, and aesthetics.
                              </p>
                              <p>
                                 Material Selection: Choosing the right material is crucial for achieving the desired
                                 results. I offer a range of materials, including PLA, ABS, PETG, and specialty
                                 filaments, to match the specific needs of each project.
                              </p>
                              <p>
                                 Precision and Quality: Quality control is paramount. I ensure that every print meets
                                 high standards of precision and detail, using advanced 3D printers and techniques.
                              </p>
                              <p>
                                 Prototyping and Testing: For many projects, prototyping is essential. I provide
                                 prototypes for testing and evaluation, allowing clients to make adjustments before
                                 final production.
                              </p>
                              <p>
                                 Post-Processing: To enhance the final product, I offer post-processing services such as
                                 sanding, painting, and assembly. This ensures that the finished print is polished and
                                 ready for use.
                              </p>
                              <p>
                                 Continuous Innovation: Staying abreast of the latest advancements in 3D printing
                                 technology allows me to offer cutting-edge solutions and continuously improve the
                                 services I provide.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Consultation and Planning</li>
                              <li>3D Modeling and Design</li>
                              <li>Material and Printer Selection</li>
                              <li>Printing</li>
                              <li>Post-Processing</li>
                              <li>Delivery and Support</li>
                              <li>Innovation and Feedback</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li>
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal2">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal2" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal2" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal2" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- start: Service Popup  IT Support-->
      <div id="service-wrapper-itSupport" class="popup_content_area zoom-anim-dialog mfp-hide" data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/it-support.png?alt=media&token=98c39203-6981-40ea-94c4-527c65c3c1f7"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">IT Support</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, IT support is the backbone of a seamless digital experience. My
                                 approach to IT support is grounded in proactive solutions, efficient problem
                                 resolution, and a dedication to ensuring technology works for you. Here’s how I
                                 approach IT support:
                              </p>

                              <p>
                                 Proactive Monitoring: Anticipating issues before they arise is key to minimizing
                                 disruptions. I implement monitoring tools to keep an eye on systems, networks, and
                                 applications, ensuring potential problems are addressed before they impact your
                                 operations.
                              </p>

                              <p>
                                 Tailored Solutions: Every organization has unique IT needs. I customize support
                                 solutions to align with your specific requirements, whether it’s for a small business
                                 or a large enterprise.
                              </p>
                              <p>
                                 Rapid Response and Resolution: Quick and effective response to IT issues is essential.
                                 I provide timely support through various channels, including phone, email, and remote
                                 access, to resolve problems efficiently and minimize downtime.
                              </p>
                              <p>
                                 Comprehensive Troubleshooting: From hardware and software issues to network and
                                 security problems, I offer thorough troubleshooting to identify and fix the root cause
                                 of IT challenges.
                              </p>
                              <p>
                                 User Education and Training: Empowering users with knowledge is crucial. I offer
                                 training sessions and resources to help your team understand and efficiently use IT
                                 systems, reducing the likelihood of user-related issues.
                              </p>
                              <p>
                                 System Optimization: Regular maintenance and optimization are vital for ensuring peak
                                 performance. I perform routine checks, updates, and optimizations to keep your systems
                                 running smoothly.
                              </p>
                              <p>
                                 Security and Compliance: Protecting your data and ensuring compliance with industry
                                 standards is a top priority. I implement security measures and provide guidance on best
                                 practices to safeguard your IT environment.Security and Compliance: Protecting your
                                 data and ensuring compliance with industry standards is a top priority. I implement
                                 security measures and provide guidance on best practices to safeguard your IT
                                 environment.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Initial Assessment and Consultation</li>
                              <li>Proactive Monitoring and Maintenance</li>
                              <li>Incident Response and Troubleshooting</li>
                              <li>User Support and Training</li>
                              <li>System Setup and Configuration</li>
                              <li>Security and Compliance</li>
                              <li>Ongoing Support and Improvement</li>
                              <li>Emergency Support</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li>
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal3">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal3" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal3" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal3" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- start: Service Popup  IT Graphics Design-->
      <div id="service-wrapper-graphicsDesign" class="popup_content_area zoom-anim-dialog mfp-hide"
         data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/graphics-design.png?alt=media&token=6ec3423d-8f10-4bf0-80fb-0b9ca15f9e9a"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">Graphics Design</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, graphics design is more than just creating visually appealing
                                 elements; it’s about crafting powerful visual experiences that effectively communicate
                                 your brand’s message. My approach to graphics design is rooted in creativity, strategy,
                                 and attention to detail. Here’s how I approach graphics design:
                              </p>

                              <p>
                                 Understanding Your Vision: The first step is to deeply understand your vision, goals,
                                 and target audience. I collaborate with you to capture your brand's essence and
                                 translate it into compelling visual designs.
                              </p>

                              <p>
                                 Creative Conceptualization: I begin by brainstorming and developing creative concepts
                                 that align with your brand identity. This phase involves sketching ideas, exploring
                                 color schemes, and selecting typography that resonates with your message.
                              </p>
                              <p>
                                 Strategic Design Solutions: Every design element serves a purpose. I ensure that each
                                 design is strategically crafted to enhance usability, convey your message effectively,
                                 and engage your audience.
                              </p>
                              <p>
                                 Attention to Detail: Precision and consistency are crucial. I pay meticulous attention
                                 to every detail, from color accuracy and font choices to alignment and spacing, to
                                 ensure that the final design is polished and professional.
                              </p>
                              <p>
                                 Feedback and Iteration: Your input is valuable. I provide drafts and seek your feedback
                                 to make necessary adjustments, ensuring the final design meets your expectations and
                                 needs.
                              </p>
                              <p>
                                 Quality Assurance: Before finalizing, I perform thorough quality checks to ensure the
                                 design is error-free and looks great across all platforms, whether it’s for print or
                                 digital use.
                              </p>
                              <p>
                                 Timely Delivery: I understand the importance of deadlines. I work efficiently to
                                 deliver high-quality designs within the agreed timeframe, ensuring you have everything
                                 you need when you need it.
                              </p>
                              <p>
                                 Continuous Improvement: Design trends and technologies evolve. I stay updated with the
                                 latest trends and tools to provide you with modern, innovative designs that keep your
                                 brand ahead of the curve.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Initial Consultation and Discovery</li>
                              <li>Concept Development</li>
                              <li>Design Creation</li>
                              <li>Feedback and Revisions</li>
                              <li>Finalization and Delivery</li>
                              <li>Branding and Identity</li>
                              <li>Marketing Materials</li>
                              <li>Ongoing Support and Updates</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li>
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal4">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal4" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal4" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal4" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- start: Service Popup  Automation-->
      <div id="service-wrapper-automation" class="popup_content_area zoom-anim-dialog mfp-hide" data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/automation.png?alt=media&token=5f10adba-281d-40e9-a771-3bfa805c43b1"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">Processes Automation</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, processes automation is about enhancing efficiency, accuracy,
                                 and scalability across your operations. My approach to processes automation focuses on
                                 identifying repetitive tasks, integrating advanced technologies, and delivering
                                 solutions that streamline workflows. Here’s how I approach processes automation:
                              </p>

                              <p>
                                 Understanding Your Processes: The first step is to thoroughly understand your current
                                 workflows and processes. I work closely with you to identify areas where automation can
                                 provide the most value, whether it’s in data entry, report generation, or
                                 communication.
                              </p>

                              <p>
                                 Requirement Analysis: I conduct a detailed analysis of your needs and objectives. This
                                 involves mapping out your processes, defining automation goals, and determining the
                                 specific requirements for your automation solution.
                              </p>
                              <p>
                                 Technology Assessment: Selecting the right tools and technologies is crucial. I
                                 evaluate various automation platforms and technologies to choose the best fit for your
                                 needs, ensuring that they align with your existing systems and infrastructure.
                              </p>
                              <p>
                                 Solution Design: Based on the requirements and technology assessment, I design a
                                 tailored automation solution. This includes developing workflows, setting up
                                 integrations, and configuring automation rules to optimize your processes.
                              </p>
                              <p>
                                 Implementation and Integration: I handle the technical aspects of implementation,
                                 including setting up the automation tools, integrating them with your existing systems,
                                 and ensuring smooth data flow between different applications.
                              </p>
                              <p>
                                 Testing and Validation: Before going live, I thoroughly test the automation solution to
                                 ensure it works as expected. This includes validating that the automation performs
                                 accurately, meets your requirements, and does not disrupt existing operations.
                              </p>
                              <p>
                                 Training and Support: To ensure a smooth transition, I provide training for your team
                                 on how to use the new automation tools effectively. Additionally, I offer ongoing
                                 support to address any issues and make necessary adjustments.
                              </p>
                              <p>
                                 Monitoring and Optimization: Automation is an ongoing process. I monitor the
                                 performance of the automation solution, gather feedback, and make continuous
                                 improvements to enhance its efficiency and effectiveness.
                              </p>
                              <p>
                                 Scalability and Upgrades: As your business grows, your automation needs may evolve. I
                                 design solutions with scalability in mind and offer upgrades and enhancements to
                                 accommodate changing requirements.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Initial Consultation and Assessment</li>
                              <li>Technology Evaluation</li>
                              <li>Solution Design</li>
                              <li>Implementation</li>
                              <li>Testing and Validation</li>
                              <li>Training and Documentation</li>
                              <li>Support and Maintenance</li>
                              <li>Monitoring and Improvement</li>
                              <li>Scalability and Upgrades</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li>
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal5">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal5" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal5" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal5" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- PORTFOLIO SECTION START -->
      <section class="portfolio-section" id="works-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="section-header text-center">
                     <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Recent Works</h2>
                     <p class="wow fadeInUp" data-wow-delay=".4s"></p>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <div class="portfolio-filter text-center wow fadeInUp" data-wow-delay=".5s">
                     <div class="button-group filter-button-group">
                        <button data-filter="*" class="active">All</button>
                        <button data-filter=".web-development">Web</button>
                        <button data-filter=".graphics-design">Graphics Design</button>
                        <button data-filter=".3d-printing">3D Printing</button>
                        <div class="active-bg"></div>
                     </div>
                  </div>

                  <div class="portfolio-box wow fadeInUp" data-wow-delay=".6s">
                     <div class="portfolio-sizer"></div>
                     <div class="gutter-sizer"></div>
                     
                     <% projects.forEach(project=> { %>
                        <div class="portfolio-item <%= project.projectCategory.replace(/\s+/g, '-').toLowerCase() %>"
                           data-id="<%= project._id %>">
                           <div class="image-box">
                              <img src=<%=project.projectImgUrls[5] %> alt="">
                           </div>
                           <div class="content-box">
                              <h3 class="portfolio-title">
                                 <%= project.projectName %>
                              </h3>
                              <p>
                                 <%= project.projectShortAbout %>
                              </p>
                              <i class="flaticon-up-right-arrow"></i>
                              <button data-mfp-src="#portfolio-wrapper-<%= project._id %>"
                                 class="portfolio-link modal-popup"></button>
                           </div>
                        </div>
                        <% }) %>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- PORTFOLIO SECTION END -->

      <!-- start: Portfolio Popup -->
      <% projects.forEach((project, index)=> { %>
         <div id="portfolio-wrapper-<%= project._id %>"
            class="popup_content_area project-popup zoom-anim-dialog mfp-hide" data-lenis-prevent="">
            <div class="popup_modal_img">
               <img src="<%=project.projectImgUrls[0]%>" alt="">
            </div>
            <div class="popup_modal_content">
               <div class="portfolio_info">
                  <div class="portfolio_info_text">
                     <h2 class="title">
                        <%= project.projectName %>
                     </h2>
                     <div class="desc">
                        <p>
                           <%= project.projectAbout %>
                        </p>
                     </div>
                     <a href="<%=project.projectLivePreviewLink%>" class="btn tj-btn-primary" target="_blank">Live
                        Preview <i class="fal fa-arrow-right"></i></a>
                  </div>
                  <div class="portfolio_info_items">
                     <div class="info_item">
                        <div class="key">Category</div>
                        <div class="value">
                           <%= project.projectCategory %>
                        </div>
                     </div>
                     <div class="info_item">
                        <div class="key">Client</div>
                        <div class="value">
                           <%= project.projectClient %>
                        </div>
                     </div>
                     <div class="info_item">
                        <div class="key">Start Date</div>
                        <div class="value">
                           <%= project.projectYear %>
                        </div>
                     </div>
                     <div class="info_item">
                        <div class="key">Designer</div>
                        <div class="value"><a href="#">
                              <%= project.projectDesigner %>
                           </a></div>
                     </div>
                  </div>
               </div>
               <div class="portfolio_gallery owl-carousel">
                  <div class="gallery_item">
                     <img src="<%=project.projectImgUrls[1]%>" alt="">
                  </div>
                  <div class="gallery_item">
                     <img src="<%=project.projectImgUrls[2]%>" alt="">
                  </div>
                  <div class="gallery_item">
                     <img src="<%=project.projectImgUrls[3]%>" alt="">
                  </div>
                  <div class="gallery_item">
                     <img src="<%=project.projectImgUrls[4]%>" alt="">
                  </div>
               </div>
               <div class="portfolio_description">
                  <h2 class="title">Project Description</h2>
                  <div class="desc">
                     <p>
                        <%= project.projectDescription %>
                     </p>
                  </div>
               </div>
               <div class="portfolio_story_approach">
                  <div class="portfolio_story">
                     <div class="story_title">
                        <h4 class="title">The story</h4>
                     </div>
                     <div class="story_content">
                        <p>
                           <%= project.projectStory %>
                        </p>
                     </div>
                  </div>
                  <div class="portfolio_approach">
                     <div class="approach_title">
                        <h4 class="title">OUR APPROACH</h4>
                     </div>
                     <div class="approach_content">
                        <p>
                           <%= project.projectApproach %>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="portfolio_navigation">
                  <div class="navigation_item prev-project">
                     <a href="#" class="project" data-id="<%= index %>" data-direction="prev">
                        <i class="fal fa-arrow-left"></i>
                        <div class="nav_project">
                           <div class="label">Previous Project</div>
                           <h3 class="title">
                              <%= projects[index - 1] ? projects[index - 1].projectName : '' %>
                           </h3>
                        </div>
                     </a>
                  </div>
                  <div class="navigation_item next-project">
                     <a href="#" class="project" data-id="<%= index %>" data-direction="next">
                        <div class="nav_project">
                           <div class="label">Next Project</div>
                           <h3 class="title">
                              <%= projects[index + 1] ? projects[index + 1].projectName : '' %>
                           </h3>
                        </div>
                        <i class="fal fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <% }) %>
            <!-- end: Portfolio Popup -->



            <!-- RESUME SECTION START -->
            <section class="resume-section" id="resume-section">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="section-header wow fadeInUp" data-wow-delay=".3s">
                           <h2 class="section-title"><i class="flaticon-recommendation"></i> My Experience</h2>
                        </div>

                        <div class="resume-widget">
                           <div class="resume-item wow fadeInLeft" data-wow-delay=".4s">
                              <div class="time">2020 - Present</div>
                              <h3 class="resume-title">IT Support Specialist</h3>
                              <div class="institute">SCA, Sokoto</div>
                           </div>
                           <div class="resume-item wow fadeInLeft" data-wow-delay=".5s">
                              <div class="time">2018 - Present</div>
                              <h3 class="resume-title">Founder, CEO</h3>
                              <div class="institute">Halal Solutions</div>
                           </div>
                           <div class="resume-item wow fadeInLeft" data-wow-delay=".6s">
                              <div class="time">2018 - 2019</div>
                              <h3 class="resume-title">CAD Designer</h3>
                              <div class="institute">Edge Meter Corp, USA</div>
                           </div>
                           <div class="resume-item wow fadeInLeft" data-wow-delay=".7s">
                              <div class="time">2019 - 2020</div>
                              <h3 class="resume-title">Helpdesk Officer</h3>
                              <div class="institute">Sokoto Cement, Sokoto</div>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="section-header wow fadeInUp" data-wow-delay=".4s">
                           <h2 class="section-title"><i class="flaticon-graduation-cap"></i> My Education</h2>
                        </div>

                        <div class="resume-widget">
                           <div class="resume-item wow fadeInRight" data-wow-delay=".5s">
                              <div class="time">2023 - todate</div>
                              <h3 class="resume-title">Msc Computer Science</h3>
                              <div class="institute">Usman Danfodiyo Uni</div>
                           </div>
                           <div class="resume-item wow fadeInRight" data-wow-delay=".6s">
                              <div class="time">2017 - 2018</div>
                              <h3 class="resume-title">Bsc Computer Science</h3>
                              <div class="institute">Isfop</div>
                           </div>
                           <div class="resume-item wow fadeInRight" data-wow-delay=".7s">
                              <div class="time">2014 - 2017</div>
                              <h3 class="resume-title">AD Software Engineering</h3>
                              <div class="institute">Aptech Computer</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- RESUME SECTION END -->

            <!-- SKILLS SECTION START -->
            <section class="skills-section" id="skills-section">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="section-header text-center">
                           <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Skills</h2>
                           <p class="wow fadeInUp" data-wow-delay=".4s">
                              Ad Meliora
                           </p>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="skills-widget d-flex flex-wrap justify-content-center align-items-center">
                           <div class="skill-item wow fadeInUp" data-wow-delay=".3s">
                              <div class="skill-inner">
                                 <div class="icon-box">
                                    <img src="/img/icons/figma.svg" alt="">
                                 </div>
                                 <div class="number">92%</div>
                              </div>
                              <p>Figma</p>
                           </div>
                           <div class="skill-item wow fadeInUp" data-wow-delay=".4s">
                              <div class="skill-inner">
                                 <div class="icon-box">
                                    <img src="/img/icons/fusion360.svg" alt="">
                                 </div>
                                 <div class="number">80%</div>
                              </div>
                              <p>Fusion 360</p>
                           </div>
                           <div class="skill-item wow fadeInUp" data-wow-delay=".5s">
                              <div class="skill-inner">
                                 <div class="icon-box">
                                    <img src="/img/icons/python.svg" alt="">
                                 </div>
                                 <div class="number">99%</div>
                              </div>
                              <p>Python</p>
                           </div>
                           <div class="skill-item wow fadeInUp" data-wow-delay=".6s">
                              <div class="skill-inner">
                                 <div class="icon-box">
                                    <img src="/img/icons/wp.svg" alt="">
                                 </div>
                                 <div class="number">80%</div>
                              </div>
                              <p>WordPess</p>
                           </div>
                           <div class="skill-item wow fadeInUp" data-wow-delay=".7s">
                              <div class="skill-inner">
                                 <div class="icon-box">
                                    <img src="/img/icons/react.svg" alt="">
                                 </div>
                                 <div class="number">89%</div>
                              </div>
                              <p>React</p>
                           </div>
                           <div class="skill-item wow fadeInUp" data-wow-delay=".8s">
                              <div class="skill-inner">
                                 <div class="icon-box">
                                    <img src="/img/icons/js.svg" alt="">
                                 </div>
                                 <div class="number">93%</div>
                              </div>
                              <p>JavaScript</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- SKILLS SECTION END -->


            <!-- BLOG SECTION STAR -->
            <section class="blog-section" id="blog-section">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="section-header text-center">
                           <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">Recent Blogs</h2>

                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <% blogPosts.forEach(post=> {%>

                        <div class="col-lg-4 col-md-6">
                           <div class="blog-item wow fadeInUp" data-wow-delay=".5s">
                              <div class="blog-thumb">
                                 <a href="/blog/<%= post.slug %>">
                                    <img src="<%= post.blogImgUrls[0] %>" alt="">
                                 </a>
                                 <a href="#" class="category">
                                    <%= post.blogType %>
                                 </a>
                              </div>

                              <div class="blog-content">
                                 <div class="blog-meta">
                                    <ul class="ul-reset">
                                       <li><i class="fa-light fa-calendar-days"></i>
                                          <%= formatDateUtil(post.createdAt) %>
                                       </li>
                                       <li><i class="fa-light fa-comments"></i> <a href="#">Comment (<%=
                                                post.blogComments.length %>)</a></li>
                                    </ul>
                                 </div>
                                 <h3 class="blog-title"><a href="/blog/<%= post.slug %>">
                                       <%= post.blogTitle %>
                                    </a></h3>
                              </div>
                           </div>
                        </div>

                        <%}) %>
                  </div>
               </div>
            </section>
            <!-- BLOG SECTION END -->

            <!-- CONTACT SECTION START -->
            <section class="contact-section" id="contact-section">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-7 order-2 order-md-1">
                        <div class="contact-form-box wow fadeInLeft" data-wow-delay=".3s">
                           <div class="section-header">
                              <h2 class="section-title">Let’s work together!</h2>
                              <p>I create elegantly simple designs and code, and I love every moment of it. Just plain
                                 and simple!</p>
                           </div>

                           <div class="tj-contact-form">
                              <form id="contact-form-id">
                                 <div class="row gx-3">
                                    <div class="col-sm-6">
                                       <div class="form_group required-field-block">
                                          <input type="text" name="firstName" id="conName" placeholder="First name"
                                             autocomplete="off">
                                          <div class="required-icon">
                                             <div class="text">*</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="form_group required-field-block">
                                          <input type="text" name="lastName" id="conLName" placeholder="Last name"
                                             autocomplete="off">
                                          <div class="required-icon">
                                             <div class="text">*</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="form_group required-field-block">
                                          <input type="email" name="email" id="conEmail" placeholder="Email address"
                                             autocomplete="off">
                                          <div class="required-icon">
                                             <div class="text">*</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="form_group required-field-block">
                                          <input type="tel" name="phone" id="conPhone" placeholder="Phone number"
                                             autocomplete="off">
                                          <div class="required-icon">
                                             <div class="text">*</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div class="form_group required-field-block">
                                          <select name="service" id="conService" class="tj-nice-select">
                                             <option value="" selected="" disabled="">Choose Service</option>
                                             <option value="Web  Development">Web Development</option>
                                             <option value="3D Printing">3D Printing</option>
                                             <option value="Automation">Automation</option>
                                             <option value="Graphics Design">Graphics Design</option>
                                             <option value="IT Support">IT Support</option>
                                          </select>
                                          <div class="required-icon">
                                             <div class="text">*</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div class="form_group required-field-block">
                                          <textarea name="message" id="conMessage" placeholder="Message"></textarea>
                                          <div class="required-icon">
                                             <div class="text">*</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div class="form_btn">
                                          <button type="submit" class="btn tj-btn-primary">Send Message</button>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>

                     <div class="col-lg-5 offset-lg-1 col-md-5 d-flex flex-wrap align-items-center order-1 order-md-2">
                        <div class="contact-info-list">
                           <ul class="ul-reset">
                              <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight"
                                 data-wow-delay=".4s">
                                 <div class="icon-box">
                                    <i class="flaticon-phone-call"></i>
                                 </div>
                                 <div class="text-box">
                                    <p>Phone</p>
                                    <a href="tel:+2347064759940">+234 704 341 6479</a>
                                 </div>
                              </li>
                              <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight"
                                 data-wow-delay=".5s">
                                 <div class="icon-box">
                                    <i class="flaticon-mail-inbox-app"></i>
                                 </div>
                                 <div class="text-box">
                                    <p>Email</p>
                                    <a href="mailto:bawanallahbilyaminu@gmail.com">bawanallahbilyaminu@gmail.com</a>
                                 </div>
                              </li>
                              <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight"
                                 data-wow-delay=".6s">
                                 <div class="icon-box">
                                    <i class="flaticon-location"></i>
                                 </div>
                                 <div class="text-box">
                                    <p>Address</p>
                                    <a href="https://www.google.com/maps/dir/?api=1&destination=Bafarawa+Estate+Mini+Market,+Sama+Rd,+Sokoto+840103,+Sokoto"
                                       target="_blank">Bafarwa Estate, <br>17 840103, Sokoto Nigeria</a>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- CONTACT SECTION END -->




   </main>

   <!-- MAIN END -->

   <%- include('partials/footer.ejs') %>